<phpunit bootstrap="vendor/autoload.php"
	failOnPhpunitDeprecation="true" failOnDeprecation="true" displayDetailsOnTestsThatTriggerDeprecations="true">
	<testsuites>
		<testsuite name="Application">
			<directory>test</directory>
			<exclude>test/BaseServerTest</exclude>
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-clover" target="clover.xml"/>
	</logging>
</phpunit>
